[Desktop Entry]
Type=Application
Name=Gnomoji
Comment=Double-tap right Shift to pick an emoji
Icon=local.emojipicker.EmojiPicker
Exec=env "PYTHONPATH=@APPDIR@" /usr/bin/python3 -m emoji_picker
Terminal=false
NoDisplay=true
